@charset "UTF-8";
body {
  margin: 0%;
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.def_plats {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0%;
}

.ensemble_id_plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.ensemble_id_plats h3 {
  width: 100%;
}

header {
  text-align: center;
}

header .fas {
  float: left;
  margin-left: 6%;
  font-size: 130%;
  margin-top: 2.8%;
  color: #333333;
  text-decoration: none;
}

header p {
  font-family: 'Shrikhand', cursive;
  margin-top: 4%;
  margin-bottom: 2.5%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: 180%;
}

header img {
  width: 100%;
  position: relative;
}

main {
  background-color: #f0f0f0;
  border-radius: 40px 40px 0% 0%;
  position: relative;
  z-index: 10;
  margin-top: -14%;
  padding-bottom: 15%;
}

main #titre_resto {
  margin: 0%;
  padding-top: 8%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Shrikhand', cursive;
  font-size: 170%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #titre_resto .far {
  margin-right: 7%;
}

main #entrées {
  padding-bottom: 1%;
  padding-left: 3.5%;
  padding-right: 3.5%;
}

main #entrées i {
  display: none;
}

main #entrées #entrées {
  color: #3b3b3b;
  border-bottom: #91dfc1 3px solid;
  width: 12%;
  padding: 0%;
  padding-bottom: 1%;
  margin-left: 2%;
}

main #entrées ul {
  list-style: none;
  padding: 0%;
}

main #entrées ul li {
  margin-bottom: 5%;
  background-color: white;
  line-height: 170%;
  border-radius: 15px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 15px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 15px;
}

main #entrées ul li .ensemble_id_plats {
  padding-left: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

main #entrées ul li .ensemble_id_plats h3 {
  margin: 0%;
}

main #entrées ul li .ensemble_id_plats p {
  color: #525252;
  margin: 0%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main #boutton_reservation {
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  padding-top: 4%;
  padding-bottom: 4%;
  color: white;
  font-size: 93%;
  border: none;
  background: #000324;
  background: linear-gradient(357deg, rgba(0, 3, 36, 0.204919) 0%, #9356dc 0%, #ff79da 100%);
  box-shadow: 7px 10px 15px -9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 7px 10px 15px -9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 7px 10px 15px -9px rgba(0, 0, 0, 0.5);
  width: 45%;
  margin-left: 25%;
  margin-top: 6%;
}

footer {
  padding-left: 7%;
  padding-right: 5%;
  background-color: #363636;
  color: white;
  padding-top: 7%;
  padding-bottom: 10%;
}

footer h3 {
  font-family: 'Shrikhand', cursive;
  margin-top: 0%;
  font-weight: normal;
}

footer ul {
  margin: 0%;
  list-style: none;
  padding: 0%;
}

footer ul li {
  line-height: 180%;
}

footer ul #couverts i {
  font-size: 80%;
  margin-right: 4%;
}

footer ul #partenaire i {
  font-size: 65%;
  margin-right: 3%;
}

footer ul .mention_contact {
  color: rgba(255, 255, 255, 0.836);
}

@media (max-width: 1604px) {
  strong {
    margin-left: 28%;
  }
}

@media (min-width: 1604px) {
  header img {
    height: 740px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main #boutton_reservation {
    width: 25%;
    padding: 0%;
    margin: 0%;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 10%;
    font-size: 2em;
    font-weight: 900;
  }
  #entrées {
    width: 40%;
  }
  #entrées li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  #entrées li .ensemble_id_plats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  #entrées li .ensemble_id_plats h3 {
    width: 100%;
  }
  #entrées li .ensemble_id_plats .def_plats {
    width: 80%;
  }
  #entrées li .ensemble_id_plats .def_plats p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #entrées li .ensemble_id_plats strong {
    margin-left: 0%;
  }
  #entrées li:hover {
    cursor: pointer;
  }
  #entrées li:hover i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #entrées i {
    width: 20%;
    display: contents;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #99E2D0;
    color: white;
    border-radius: 0 20% 20% 0;
    display: none;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-animation: slideLeft 0.5s;
            animation: slideLeft 0.5s;
  }
  #entrées .fa-check-circle:before {
    -webkit-animation: spinner-rotate 0.5s;
            animation: spinner-rotate 0.5s;
  }
  @-webkit-keyframes slidein {
    from {
      margin-top: 10%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }
  @keyframes slidein {
    from {
      margin-top: 10%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }
}

@-webkit-keyframes slideLeft {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

@keyframes slideLeft {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

@-webkit-keyframes spinner-rotate {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
}

@keyframes spinner-rotate {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
}
/*# sourceMappingURL=à_la_française.css.map */