body{margin: 0%;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    #coeur{
        z-index: 1;
        background: linear-gradient(#000000, #000000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0px white;
        font-weight: 100;
        font-size: 100%;
        margin-right: 7%;
       }
       #coeur:hover{
        font-weight: 600;
        background: linear-gradient(#FF79DA, #9356DC);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0px white;
        animation: coeur 0.1s;
        animation-fill-mode: forwards;
        cursor: pointer;
    }
    }
@keyframes coeur {
    from{font-size: 110%;}
    to{font-size: 120%;}
      
  }
    #boutton_reservation:hover{cursor: pointer;
        transition: 0.7s;
        transform: scale(1.15);}
    .def_plats{width: 65%;
        display: flex;
        margin: 0%;}
    .ensemble_id_plats{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            h3{width: 100%;}
        }

header{text-align: center;
    .fas{float: left;
        margin-left: 6%;
        font-size: 130%;
        margin-top: 2.8%;
        color: rgb(51, 51, 51);
        text-decoration: none;
        }
    p{
        font-family: 'Shrikhand', cursive;
        margin-top: 4%;
        margin-bottom: 2.5%;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        font-size: 180%;
        }
    img{width: 100%;
        position: relative;}
    }
main{background-color: rgb(240, 240, 240);
    border-radius: 40px 40px 0% 0%;
    position: relative;
    z-index: 10;
    margin-top: -14%;
    padding-bottom: 15%;
    #titre_resto{margin: 0%;
                padding-top: 8%;
                width: 90%;
                display: flex;
                justify-content: space-between;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Shrikhand', cursive;
                font-size: 170%;
                align-items: center;
                .far{margin-right: 7%;
                    }

                }
                
    .entrées{padding-bottom: 1%;
            padding-left: 3.5%;
            padding-right: 3.5%;
            li:hover{
                cursor: pointer;
                i{display: flex;}
            }
            i{width: 20%;
                display: contents;
                align-items: center;
                justify-content: center;
                background: #99E2D0;
                color: white;
                border-radius: 0 20% 20% 0;
                display: none;
                transition-duration: 0.5s;
                animation: slideLeft 0.5s;
                
            }
        i{display: none;}
            .entrées{color: rgb(59, 59, 59);
                    border-bottom: rgb(145, 223, 193) 3px solid;
                    width: 12%;
                    padding: 0%;
                    padding-bottom: 1%;
                    margin-left: 2%;}
        ul{
            list-style: none;
            padding: 0%;
            li{margin-bottom: 5%;
                background-color: white;
                line-height: 170%;
                border-radius: 15px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 15px;
                display: flex;
                flex-wrap: nowrap;
                animation-duration: 2s;
                animation-name: slidein;
                animation-iteration-count: 1;
                .ensemble_id_plats{
                    padding-left: 2.5%;
                    padding-top: 2%;
                    padding-bottom: 2%;
                    h3{margin: 0%; 
                        width: 80%;}
                    p{
                        color: rgb(82, 82, 82);
                        margin: 0%;        white-space:nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 90%;
                    }
                }

            }
        }
    }
    #boutton_reservation{
        font-family: 'Roboto', sans-serif;
        border-radius: 30px;
        padding-top: 4%;
        padding-bottom: 4%;
        color: white;
        font-size: 93%;
        border: none;
        background: rgb(0,3,36);
        background: linear-gradient(357deg, rgba(0,3,36,0.2049194677871149) 0%, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        box-shadow: 7px 10px 15px -9px rgba(0,0,0,0.5);
        -webkit-box-shadow: 7px 10px 15px -9px rgba(0,0,0,0.5);
        -moz-box-shadow: 7px 10px 15px -9px rgba(0,0,0,0.5);
        width: 45%;
        margin-left: 25%;
        margin-top: 6%;
    }
}
footer{padding-left: 7%;
    padding-right: 5%;
    background-color: rgb(54, 54, 54);
    color: white;
    padding-top: 7%;
    padding-bottom: 10%;

    h3{font-family: 'Shrikhand', cursive;
        margin-top: 0%;
        font-weight: normal;}
    ul{margin: 0%;
    list-style: none;
    padding: 0%;
    li{
        line-height: 180%;
        }
    #couverts{
        i{
            font-size: 80%;
            margin-right: 4%;
        }
    }
    #partenaire{
        i{
            font-size: 65%;
            margin-right: 3%;
        }
    }
    .mention_contact{
        color: rgba(255, 255, 255, 0.836);
    }
    }
}
@media (max-width:1604px){ 
    strong{
        margin-left: 18%;
        
    }
}
@media (min-width:1604px){
    header{
        img{
            height: 740px;
        }
    }
    main{display: flex;
            flex-wrap: wrap;
        #boutton_reservation{width: 25%;
                            padding: 0%;
                            margin: 0%;
                            margin-top: 7%;
                            margin-bottom: 7%;
                            margin-left: 10%;
                            font-size: 2em;
                            font-weight: 900;}
    }
    .entrées{width: 40%;
            li{display: flex;
                flex-wrap: nowrap;
                
                .ensemble_id_plats{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    h3{width: 100%;}
                    .def_plats{      width: 80%;              
                        p{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin: 0%;
                            display: flex;
                        }
                    }
                    strong{margin-left: 0%;
                        }
                }
            }
            li:hover{
                cursor: pointer;
                i{display: flex;}
            }
            i{width: 20%;
                display: contents;
                align-items: center;
                justify-content: center;
                background: #99E2D0;
                color: white;
                border-radius: 0 20% 20% 0;
                display: none;
                transition-duration: 0.5s;
                animation: slideLeft 0.5s;
                
            }
            .fa-check-circle:before {
                animation: spinner-rotate 0.5s;
            }
            
        }  
}
@keyframes slideLeft {
    from {
      width: 0%;
    }
    to {
      width: 20%;
    }
  }
  @keyframes spinner-rotate {
    0% {
      transform: scale(0) rotate(0deg);
      animation-delay: 1s;
    }
    100% {
      transform: scale(1) rotate(360deg);
      animation-duration: 1s;
    }
  }
@keyframes slidein {
  from {
    margin-top: 10%;
    opacity: 0;
  }

  to {
    margin-top: 0%;
    opacity: 1;
  }
}