body {
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

body #menu i {
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
  background: linear-gradient(#000000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
  font-weight: 100;
  font-size: 140%;
}

body #menu i:hover {
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
  -webkit-animation: coeur 0.1s;
          animation: coeur 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes coeur {
  from {
    font-size: 140%;
  }
  to {
    font-size: 160%;
  }
}

@keyframes coeur {
  from {
    font-size: 140%;
  }
  to {
    font-size: 160%;
  }
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  text-align: center;
}

header h2 {
  font-family: 'Shrikhand', cursive;
  margin-top: 4%;
  margin-bottom: 2.5%;
}

header p {
  background-color: #dddddd;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0%;
  -webkit-box-shadow: inset 0px 7px 15px -15px rgba(0, 0, 0, 0.84);
  box-shadow: inset 0px 7px 15px -15px rgba(0, 0, 0, 0.84);
  color: rgba(0, 0, 0, 0.836);
}

header p .fas {
  margin-right: 4%;
}

#reservation {
  text-align: center;
  background-color: #f1f1f1;
  padding-bottom: 15%;
  padding-top: 10%;
}

#reservation h2 {
  margin: 0%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#reservation #boutton_reservation {
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 55%;
  color: white;
  font-size: 93%;
  border: none;
  background: #000324;
  background: linear-gradient(357deg, rgba(0, 3, 36, 0.204919) 0%, #9356dc 0%, #ff79da 100%);
  box-shadow: 7px 10px 15px -9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 7px 10px 15px -9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 7px 10px 15px -9px rgba(0, 0, 0, 0.5);
}

#reservation #boutton_reservation:hover {
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

#reservation p {
  color: rgba(0, 0, 0, 0.63);
  margin-bottom: 7%;
}

#fonctionnement {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17%;
}

#fonctionnement h2 {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-top: 12%;
}

#fonctionnement ol {
  padding: 0%;
  width: 85%;
  margin-left: 10%;
  margin-right: auto;
  list-style: none;
}

#fonctionnement li {
  background-color: #f1f1f1;
  border-radius: 20px;
  margin-top: 8%;
  padding: 10px 10px 10px 0px;
  font-weight: 600;
  list-style: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 7px 17px -4px rgba(0, 0, 0, 0.22);
  box-shadow: 3px 7px 17px -4px rgba(0, 0, 0, 0.22);
}

#fonctionnement li p {
  background-color: #9356dc;
  color: white;
  width: 5%;
  text-align: center;
  margin-right: 8%;
  margin-left: -2%;
  border-radius: 20px;
  font-weight: 400;
  padding: 1.3% 1.3% 1% 1.3%;
  font-size: 90%;
}

#fonctionnement li .fas {
  margin-right: 10%;
  font-size: 115%;
  color: rgba(0, 0, 0, 0.562);
}

#fonctionnement #vignette_degustez {
  background-color: #efe4fc;
}

#fonctionnement #vignette_degustez .fas {
  color: #9356dc;
}

#menu {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  padding-top: 7%;
  background-color: #f1f1f1;
}

#menu .vignette_nouveau {
  background-color: #91dfc1;
  padding: 1.8%;
  width: 22%;
  text-align: center;
  font-weight: 900;
  color: #039161;
  border-radius: 5%;
  position: absolute;
  margin-left: 59%;
  margin-top: 4%;
}

#menu a:visited {
  color: black;
}

#menu a {
  text-decoration: none;
}

#menu .vignette_resto {
  background-color: white;
  margin-bottom: 5%;
  border-radius: 15px 15px 15px 15px;
  padding-bottom: 5%;
}

#menu .vignette_resto i {
  margin-right: 10%;
  margin-top: -40px;
  float: right;
}

#menu .vignette_resto h3 {
  margin: 0%;
  margin-bottom: 1.5%;
  margin-left: 3.5%;
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu .vignette_resto h4 {
  margin: 0%;
  font-weight: 400;
  margin-left: 3.5%;
}

#menu img {
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0% 0%;
}

footer {
  padding-left: 7%;
  padding-right: 5%;
  background-color: #363636;
  color: white;
  padding-top: 7%;
  padding-bottom: 10%;
}

footer h3 {
  font-family: 'Shrikhand', cursive;
  margin-top: 0%;
  font-weight: 400;
}

footer ul {
  margin: 0%;
  list-style: none;
  padding: 0%;
}

footer ul li {
  line-height: 180%;
}

footer ul #couverts i {
  font-size: 80%;
  margin-right: 4%;
}

footer ul #partenaire i {
  font-size: 65%;
  margin-right: 3%;
}

footer ul .mention_contact {
  color: rgba(255, 255, 255, 0.836);
}

#loader {
  border: #9356dc 5px solid;
  border-top-color: #ff79da;
  border-bottom-color: #ff79da;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: loader 1.5s;
          animation: loader 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

main {
  -webkit-animation: transitionIn 2.5s;
          animation: transitionIn 2.5s;
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 110%;
  }
  header h2 {
    font-size: 2.5em;
  }
  header p {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }
  #reservation {
    padding: 7%;
  }
  #reservation #boutton_reservation {
    font-size: 110%;
  }
  #fonctionnement {
    margin-bottom: 7%;
  }
  #fonctionnement h2 {
    margin-top: 7%;
  }
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 3%;
  }
  #menu .vignette_nouveau {
    margin: 0%;
    width: 7%;
    padding: 1.2%;
  }
  #menu #vignette_nouveau_1 {
    margin-top: 10%;
    margin-right: 15%;
  }
  #menu #vignette_nouveau_2 {
    margin-top: 10%;
    margin-left: 75%;
  }
  #menu h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
  #menu a {
    width: 45%;
    margin-bottom: 2%;
    text-decoration: none;
  }
  #menu a:visited {
    color: black;
  }
  #menu .vignette_resto {
    width: 100%;
    padding-bottom: 2%;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 130%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  #reservation p {
    margin-bottom: 2%;
  }
  #reservation #boutton_reservation {
    font-size: 120%;
    font-weight: 900;
    padding: 2%;
    width: 30%;
  }
  #fonctionnement {
    background-color: #f1f1f1;
    padding: 1%;
    margin-bottom: 0%;
  }
  #fonctionnement h2 {
    display: none;
  }
  #fonctionnement ol {
    margin: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #fonctionnement ol li {
    width: 25%;
    margin: 2%;
    background-color: white;
  }
  #menu {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
  }
  #menu .vignette_nouveau {
    margin: 0%;
    width: 7%;
    padding: 1.2%;
  }
  #menu #vignette_nouveau_1 {
    margin-top: 9%;
    margin-right: 20%;
  }
  #menu #vignette_nouveau_2 {
    margin-top: 9%;
    margin-left: 60%;
  }
  #menu .vignette_resto {
    background-color: #f1f1f1;
    box-shadow: 6px 11px 22px -10px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 6px 1px 22px -10px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 6px 11px 22px -10px rgba(0, 0, 0, 0.47);
  }
}

@media (min-width: 1925px) {
  #menu .vignette_nouveau {
    display: none;
  }
}

#loader {
  left: 37%;
  top: 42%;
}

@media (min-width: 500px) {
  #loader {
    left: 42%;
    top: 42%;
  }
}

@media (min-width: 800px) {
  #loader {
    left: 45%;
    top: 42%;
  }
}

@media (min-width: 1500px) {
  #loader {
    left: 46%;
    top: 42%;
  }
}

@media (min-width: 1700px) {
  #loader {
    left: 47%;
    top: 42%;
  }
}
/*# sourceMappingURL=accueil.css.map */